@model ICollection<HerosDB.Models.SuperHero>
@{
    ViewData["Title"] = "Index";
}
<h2>Super Heros List</h2>
<ul>
    @{foreach (var superhero in Model)
        {
            <li>@superhero.Id  @superhero.Alias </li>
            <ol>
                @foreach(var superPower in superhero.SuperPowers)
                {
                    <li>@superPower.Name  - @superPower.Description</li>
                }
            </ol>
        }
    }
</ul>
@Html.Partial("_DateTimePartial")
